<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <title>Create meal</title>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"-->
<!--          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->
<!--    <link href="/css/main.css" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <form class="form-signin" method="POST" th:object="${new_meal}" th:action="@{/add_meal}">-->
<!--        <h2 class="form-signin-heading">Create meal</h2>-->
<!--        <div class="form-group">-->
<!--            <input type="text" th:field="*{name}" class="form-control" placeholder="Meal name">-->
<!--        </div>-->
<!--        <div class="form-group blu-margin">-->

<!--&lt;!&ndash;            <select class="form-control" id="testOrder" name="testOrder">&ndash;&gt;-->
<!--&lt;!&ndash;                <option value="">Select product</option>&ndash;&gt;-->
<!--&lt;!&ndash;                <option th:each="product : ${product_list}" th:value="${product.name}"&ndash;&gt;-->
<!--&lt;!&ndash;                        th:text="${product.name}"></option>&ndash;&gt;-->

<!--&lt;!&ndash;            </select>&ndash;&gt;-->
<!--            <div class="col-md-10">-->
<!--                <h2 th:case="null">No Products yet!</h2>-->
<!--                <div th:case="*">-->
<!--                    <table class="table table-striped table-responsive-md">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th>Name</th>-->
<!--                            <th>Select</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                        <tr th:each="product : ${product_list}">-->
<!--                            <td th:text="${product.name}"></td>-->
<!--                            <td input type="checkbox" th:id="${product.id}" name="product.name" th:> </td>-->
<!--&lt;!&ndash;                            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&ndash;&gt;-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->

<!--            </div>-->
<!--            <a href="/add_product_form" class="btn btn-primary"><i-->
<!--                    class="fas fa-user-plus ml-2">Add new product</i></a>-->

<!--            <input type="submit" >-->
<!--        </div>-->

<!--        <div class="card-body">-->
<!--            <div th:switch="${new_meal.products}" class="container my-5">-->
<!--                <div class="col-md-10">-->
<!--                    <h2 th:case="null">No Products yet!</h2>-->
<!--                    <div th:case="*">-->
<!--                        <table class="table table-striped table-responsive-md">-->
<!--                            <thead>-->
<!--                            <tr>-->
<!--                                <th>Name</th>-->
<!--                                <th>Delete</th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                            <tr th:each="product : ${new_meal.products}">-->
<!--                                <td th:text="${product.name}"></td>-->
<!--                                <td><a th:href="@{/delete_product/{id}(id=${product.id})}" class="btn btn-primary"><i-->
<!--                                        class="fas fa-user-times ml-2"></i></a></td>-->
<!--                            </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


<!--        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>-->
<!--    </form>-->

<!--</div>-->


<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
<div class="container my-2">
    <div class="card">
        <div th:switch="${product_list}" class="container my-5">
            <form class="my-5" method="POST" th:object="${new_meal}" th:action="@{/add_meal}">
                    <input type="text" th:field="${new_meal.name}" class="form-control" placeholder="Meal name">
                    <a href="/add_product_form" class="btn button"><i class="fas fa-user-plus ml-2">Add new product</i></a>
                <div class="col-md-10">
                    <h2 th:case="null">No Products yet!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Id</th>
<!--                                <th>Amount</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product : ${product_list}">
                                <td th:text="${product.name}"></td>
                                <td><input type="checkbox" th:id="${product.isUsed}" name="isAdded"/></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-primary " type="submit">Save meal</button>
                </div>
            </form>

        </div>
    </div>
</div>
</div>
</body>

</html>